In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt


3.1 Problem - 1: Getting Started with Data Exploration - Some Warm up Exercises:
1. Data Exploration and Understanding:


• Dataset Overview:
1. Load the dataset and display the first 10 rows.
2. Identify the number of rows and columns in the dataset. 
3. List all the columns and their data types.

In [3]:
wlr = pd.read_csv("WorldHappinessResult.csv")
wlr.head(10)

,Country name,score,Log GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Dystopia + residual
0,Finland,7.741,1.844,1.572,0.695,0.859,0.142,0.546,2.082
1,Denmark,7.583,1.908,1.520,0.699,0.823,0.204,0.548,1.881
2,Iceland,7.525,1.881,1.617,0.718,0.819,0.258,0.182,2.050
3,Sweden,7.344,1.878,1.501,0.724,0.838,0.221,0.524,1.658
4,Israel,7.341,1.803,1.513,0.740,0.641,0.153,0.193,2.298
5,Netherlands,7.319,1.901,1.462,0.706,0.725,0.247,0.372,1.906
6,Norway,7.302,1.952,1.517,0.704,0.835,0.224,0.484,1.586
7,Luxembourg,7.122,2.141,1.355,0.708,0.801,0.146,0.432,1.540
8,Switzerland,7.060,1.970,1.425,0.747,0.759,0.173,0.498,1.488
9,Australia,7.057,1.854,1.461,0.692,0.756,0.225,0.323,1.745

In [10]:
row,col = wlr.shape
print(f"Total number of rows: {row}")
print(f"Total number of columns: {col}")

Total number of rows: 143
Total number of columns: 9

In [16]:
wlr.dtypes

Country name                     object
score                           float64
Log GDP per capita              float64
Social support                  float64
Healthy life expectancy         float64
Freedom to make life choices    float64
Generosity                      float64
Perceptions of corruption       float64
Dystopia + residual             float64
dtype: object


• Basic Statistics:
1. Calculate the mean, median, and standard deviation for the Score column.
2. Identify the country with the highest and lowest happiness scores.

In [21]:
wlr_mean = wlr['score'].mean()
wlr_median = wlr['score'].median()
wlr_standard_deviation = wlr['score'].std()
print(f"Mean of score is: {wlr_mean}")
print(f"Median of score is: {wlr_median}")
print(f"Standard Deviation of score is: {wlr_standard_deviation}")

Mean of score is: 5.52758041958042
Median of score is: 5.785
Standard Deviation of score is: 1.1707165099442993

In [25]:
country_wlrmin = wlr.loc[wlr['score'].idxmin(),'Country name']
country_wlrmax = wlr.loc[wlr['score'].idxmax(),'Country name']
print(f"Country with minimum happiness score is: {country_wlrmin}")
print(f"Country with maximum happiness score is: {country_wlrmax}")

Country with minimum happiness score is: Afghanistan
Country with maximum happiness score is: Finland